body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    background-color: rgb(97, 95, 95);
}

img {
    width: 100%;
    display: block;
}

.pointer {
    text-align: center;
    border: 2px solid rgb(58, 57, 57);
    border-radius: 30px;
}

.map {
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: rgb(130, 204, 233);
    font-family: 'Potta One', cursive;
}

@media (min-width: 48em) {
    .navbar-nav {
      margin-left: auto!important;
      margin-right: 0!important;
  }
  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
}