body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.message1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-top: 10px solid rgb(206, 174, 137);
    border-bottom: 10px solid rgb(206, 174, 137);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: blanchedalmond;
}

.footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(97, 95, 95);
}